/* ==========================================================================

// Stylesheet for Build Lesson 6
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: Mar 21, 2018

========================================================================== */

/* MAIN SITE STYLING ===================================================== */

body {
  background-color: #f4f4f4;
  font-family: helvetica,arial, sans-serif;
}

#container {
  width: 65%;
  margin: 50px auto;
  background-color: #000;
  padding: 5%;
}

ul li {
  display: inline;
  margin-right: 15px;
  border: gold;
  border-width: 7,5px;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  
}

ul li a {
  padding: 25px;
}
