/* ==========================================================================

// Stylesheet for Build Lesson 4
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: Feb. 21, 2018

========================================================================== */

/* MAIN SITE STYLING ===================================================== */

body {
  background-color: #f4f4f4;
  font-family: helvetica,arial, sans-serif;
}

h1 {
  margin-left: 50px;

}

h2 {
  margin-top: 100px;
}

p {
  margin-top: 15px;
}

#container {
  padding: 25px;
}

.left_column {
  float: left;
  width: 500px;

}

.right_column {
  float: right;
  width: 500px;
  margin-left: 50px;
}


.image_column {
  float: left;
  width: 400px;
}

.alternate_pet {
  object-fit: cover;
  height: 200px;
}


.clear {clear: both;}

/* Reference for object-fit: https://css-tricks.com/almanac/properties/o/object-fit/ */


img {
  /*object-fit: cover;
  width: 100%;
  display: block;
  margin: 0px auto;*/
}

.clear {clear: both;}
/* Esse exercício ficou meio cagadinho, mas não foi por falta de dedicação
eu tentei fazer o meu melhor, dei umas pesquisadas marotas que me ajudaram
a chegar no resultado que estou commitando */