/* ==========================================================================

// Stylesheet for Build Lesson 5
// Author: KU MarComm - Dave G
// Version: 1.0 - Last Updated: Feb. 21, 2018

========================================================================== */

/* MAIN SITE STYLING - ADJUST AS NEEDED! ================================= */

body {
  background-color: #f4f4f4;
  font-family: helvetica,arial, sans-serif;
}

#container {
  width: 65%;
  margin: 50px auto;
  background-color: #fff;
  padding: 5%;
  max-height: 350px
}
#container img {
  width: 800px;
  height: 250px;
  }
  ul li {
  display: inline;
  background-color: red;
  padding: 5px;
  margin-right: 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  /* Fim do exercício */